<!-- app/views/main.html -->
  <!-- Now the variable: ctrl refers to the GameController -->
    <!-- heading inside app/views/main.html -->
<div id="content" ng-controller='GameController as ctrl'>
    <div id="heading" class="row">
      <h1 class="title">ng-2048</h1>
      <p>2048 Fot the win!</p>
      <div class="scores-container">
        <div class="score-container">{{ ctrl.game.currentScore }}</div>
        <div class="best-container">{{ ctrl.game.highScore }}</div>
      </div>
    </div>
</div>
